## Final Project
### Data Science LHL Project: Restaurant Reccomenation system

### Part 2: Data Preparation: Data Cleaning and EDA

By: Chloe Phuong

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
restrev_df = pd.read_json('restrev_df')

restrev_df

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,categories,hours,review_id,user_id,stars_left,text,date
0,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",NaN,sR9e_G0JdycDTGV4S-Ma2w,qXztukjlJFpu3T-EmSWIIQ,5.0,"Incredible, the chicken is so tender, seasonin...",2023-02-12 11:07:53
1,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",NaN,ArpqFM_KEDrP0fJScO09Zw,KhpA23RweKsO9TDaGpE2xg,4.0,We were able to check this place out yesterday...,2022-04-25 12:51:22
2,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",NaN,w56U5WwwCzd2Sz9aXsuXjQ,XbiKsujS_qxU3xsr0xUqmQ,4.0,I think this will be our go-to before any even...,2022-06-03 10:01:45
3,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",NaN,sR9e_G0JdycDTGV4S-Ma2w,qXztukjlJFpu3T-EmSWIIQ,5.0,"Incredible, the chicken is so tender, seasonin...",2023-02-12 11:07:53
4,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",NaN,ArpqFM_KEDrP0fJScO09Zw,KhpA23RweKsO9TDaGpE2xg,4.0,We were able to check this place out yesterday...,2022-04-25 12:51:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5429,qPVqfJAzC8APF8aWGBtFRA,Antler Kitchen & Bar,"1454 Dundas Street West, Toronto, ON M6J 1Y6, ...",Toronto,M6J 1Y6,43.649850,-79.430590,4.5,289,True,"[{'alias': 'newcanadian', 'title': 'Canadian (...",NaN,None,None,NaN,None,NaT
5430,xIKmVF_kRG_NDsmg0xmzTw,Nuna Kitchen & Bar,"1265 Queen Street W, Toronto, ON M6K 1L4, Canada",Toronto,M6K 1L4,43.641540,-79.431120,4.5,19,True,"[{'alias': 'international', 'title': 'Internat...",NaN,None,None,NaN,None,NaT
5431,YHubCF0Ua0uC6HC2tm-arQ,The Federal,"1438 Dundas Street W, Toronto, ON M6J 3L5, Canada",Toronto,M6J 3L5,43.649770,-79.430110,4.0,173,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",NaN,None,None,NaN,None,NaT
5432,6hGEIpALyUhte4grCY8Hog,The Opium Bar,"1321 Dundas Street West, Toronto, ON M6J 1X8, ...",Toronto,M6J 1X8,43.649280,-79.426280,4.5,20,True,"[{'alias': 'whiskeybars', 'title': 'Whiskey Ba...",NaN,None,None,NaN,None,NaT
5433,_EKoxN2cz-lrYFiGGOsYhg,Pinata Tacos,"1597 Dundas Street W, Toronto, ON M6K 1T9, Canada",Toronto,M6K 1T9,43.649684,-79.434895,4.0,5,True,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",NaN,None,None,NaN,None,NaT

#### Data Cleaning and Transformation

In [37]:
restrev_df.shape

(5434, 17)

In [39]:
restrev_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5434 entries, 0 to 5433
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   5434 non-null   object
 1   name          5434 non-null   object
 2   address       5434 non-null   object
 3   city          5434 non-null   object
 4   postal_code   5434 non-null   object
 5   latitude      5434 non-null   float64
 6   longitude     5434 non-null   float64
 7   stars         5434 non-null   float64
 8   review_count  5434 non-null   int64
 9   is_open       5434 non-null   bool
 10  categories    5434 non-null   object
 11  hours         0 non-null      float64
 12  review_id     5111 non-null   object
 13  user_id       5111 non-null   object
 14  stars_left    5111 non-null   float64
 15  text          5111 non-null   object
 16  date          5111 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(9)
memory usage: 727.0+ KB

In [53]:
#Deleting Unnnecessary Columns
restrev_df = restrev_df.drop(['hours'],axis=1)

In [54]:
restrev_df.shape

(5434, 16)

In [57]:
# Remove rows with NaN values in specific columns
columns_to_check = ['review_id', 'user_id', 'stars_left', 'text', 'date']
restrev_df = restrev_df.dropna(subset=columns_to_check)

# Reset the index
restrev_df = restrev_df.reset_index(drop=True)

In [59]:
restrev_df

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,categories,review_id,user_id,stars_left,text,date
0,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",sR9e_G0JdycDTGV4S-Ma2w,qXztukjlJFpu3T-EmSWIIQ,5.0,"Incredible, the chicken is so tender, seasonin...",2023-02-12 11:07:53
1,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",ArpqFM_KEDrP0fJScO09Zw,KhpA23RweKsO9TDaGpE2xg,4.0,We were able to check this place out yesterday...,2022-04-25 12:51:22
2,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",w56U5WwwCzd2Sz9aXsuXjQ,XbiKsujS_qxU3xsr0xUqmQ,4.0,I think this will be our go-to before any even...,2022-06-03 10:01:45
3,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",sR9e_G0JdycDTGV4S-Ma2w,qXztukjlJFpu3T-EmSWIIQ,5.0,"Incredible, the chicken is so tender, seasonin...",2023-02-12 11:07:53
4,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.666270,-79.318020,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",ArpqFM_KEDrP0fJScO09Zw,KhpA23RweKsO9TDaGpE2xg,4.0,We were able to check this place out yesterday...,2022-04-25 12:51:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5106,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,394,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",5q1tz1R-BIEkfB-l2RnwmQ,6x435xUBuB0MrgIEcPv7gw,4.0,I was so happy to come here for brunch! I enjo...,2023-04-29 09:38:59
5107,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,394,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",3I82uRXafiZ_xxB3Vtp-7w,f-PtTWeEf3RIDmR_jdRbWQ,5.0,This was a great find in Toronto! I had an alm...,2023-03-08 15:17:52
5108,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,394,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",1u-vApmYLR7pHWH7Piwvug,4dMvOFhxoXkhWkis0OtE4g,5.0,My hubby and I stumbled over this restaurant w...,2023-07-07 17:49:35
5109,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,394,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",5q1tz1R-BIEkfB-l2RnwmQ,6x435xUBuB0MrgIEcPv7gw,4.0,I was so happy to come here for brunch! I enjo...,2023-04-29 09:38:59
5110,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,394,True,"[{'alias': 'breakfast_brunch', 'title': 'Break...",3I82uRXafiZ_xxB3Vtp-7w,f-PtTWeEf3RIDmR_jdRbWQ,5.0,This was a great find in Toronto! I had an alm...,2023-03-08 15:17:52

In [60]:
# Getting an accurate count of reviews per restaurant (index)
restrev_df.groupby(['business_id'])['review_id'].transform('count')

0       24
1       24
2       24
3       24
4       24
        ..
5106    24
5107    24
5108    24
5109    24
5110    24
Name: review_id, Length: 5111, dtype: int64

In [65]:
restrev_df.rename({'stars_left': 'review_stars', 'name': 'rest_name', 'stars': 'rest_avg_stars', \
                   'review_count': 'total_reviews'}, axis=1, inplace=True)

restrev_df.head(3)

,business_id,rest_name,address,city,postal_code,latitude,longitude,rest_avg_stars,total_reviews,is_open,categories,review_id,user_id,review_stars,text,date
0,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.66627,-79.31802,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",sR9e_G0JdycDTGV4S-Ma2w,qXztukjlJFpu3T-EmSWIIQ,5.0,"Incredible, the chicken is so tender, seasonin...",2023-02-12 11:07:53
1,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.66627,-79.31802,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",ArpqFM_KEDrP0fJScO09Zw,KhpA23RweKsO9TDaGpE2xg,4.0,We were able to check this place out yesterday...,2022-04-25 12:51:22
2,Ohengzi4viLEXqhK50aLxg,Jaclyn's,"1588 Queen Street E, Toronto, ON M4L 1G1, Canada",Toronto,M4L 1G1,43.66627,-79.31802,4.5,15,True,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",w56U5WwwCzd2Sz9aXsuXjQ,XbiKsujS_qxU3xsr0xUqmQ,4.0,I think this will be our go-to before any even...,2022-06-03 10:01:45

The following columns will be updated to have a datatype of int32 for memory efficiency: review_stars, total_reviews, is_open.

In [72]:
conv_dict = {'review_stars': 'int32', 'total_reviews': 'int32', 'is_open': 'int32'}
restrev_df = restrev_df.astype(conv_dict)

In [73]:
restrev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     5111 non-null   object
 1   rest_name       5111 non-null   object
 2   address         5111 non-null   object
 3   city            5111 non-null   object
 4   postal_code     5111 non-null   object
 5   latitude        5111 non-null   float64
 6   longitude       5111 non-null   float64
 7   rest_avg_stars  5111 non-null   float64
 8   total_reviews   5111 non-null   int32
 9   is_open         5111 non-null   int32
 10  categories      5111 non-null   object
 11  review_id       5111 non-null   object
 12  user_id         5111 non-null   object
 13  review_stars    5111 non-null   int32
 14  text            5111 non-null   object
 15  date            5111 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int32(3), object(9)
memory usage: 579.1+ KB

Exploring any missing information in the rest_revdf dataset.

In [74]:
restrev_df.isna().mean()

business_id       0.0
rest_name         0.0
address           0.0
city              0.0
postal_code       0.0
latitude          0.0
longitude         0.0
rest_avg_stars    0.0
total_reviews     0.0
is_open           0.0
categories        0.0
review_id         0.0
user_id           0.0
review_stars      0.0
text              0.0
date              0.0
dtype: float64

In [75]:
restrev_df.describe()

,latitude,longitude,rest_avg_stars,total_reviews,is_open,review_stars
count,5111.000000,5111.000000,5111.000000,5111.000000,5111.0,5111.000000
mean,43.658914,-79.387836,4.312072,373.956173,1.0,4.323029
std,0.011121,0.030120,0.357679,709.001283,0.0,1.031564
min,43.636608,-79.465596,3.000000,1.000000,1.0,1.000000
25%,43.651373,-79.399684,4.000000,28.000000,1.0,4.000000
50%,43.658733,-79.384540,4.500000,77.000000,1.0,5.000000
75%,43.664370,-79.378820,4.500000,410.000000,1.0,5.000000
max,43.703830,-79.277560,5.000000,3429.000000,1.0,5.000000